.bg-crimson{
    background-color: crimson;
}

.asostyle{
    background-color: rgb(201, 56, 56);
}
.asostyle p{
    color: whitesmoke;
}
.marquestyle{
    background-color: coral;
}

.hlldstyle{
    background-color: darkcyan;
}
.hlldstyle p{
    color: whitesmoke
}
.bbddstyle{
    background-color: darkgoldenrod;
}
.isostyle{
    background-color: rgb(105, 30, 77);
}
.isostyle p{
    color: whitesmoke
}
.ipo1style{
    background-color:rgb(168, 157, 231)
}
.tutostyle{
    background-color: rgb(109, 186, 68)
}
.xarxastyle{
    background-color: rgb(73, 125, 157);
}
.fmstyle{
    background-color: rgb(223, 206, 55);
}
.ipo2style{
    background-color: rgb(111, 230, 226);
}